html {
    margin: auto;
}

body {
    font-family: 'AvenirLTStd-Medium', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.header-home {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/vinyl.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/vinyl.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.navigation-row {
    max-width: 98%;
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 10px;
}

#navigation {
    float: right;
    list-style: none;
    margin-top: 45px;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 18px;
    overflow: visible;
}

#nav_logo {
    float: left;
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 10px;
    overflow: hidden;
    color: white;
    font-size: 30px;
    display: block;
}

#nav_log:link {
    text-decoration: none;
}

.nav li {
    display: inline;
    padding: 8px;
    float: left;
}

.nav li a {
    color: white;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

.nav li.icon {
    display: none;
}

@media screen and (max-width:1002px) {
    ul.nav li {
        display: none;
    }
    #nav_logo {
        display: none;
    }
    ul.nav li.icon {
        display: inline-block;
    }
    .container {
        width: 75%;
        height: 100%;
        font-size: 25px;
        padding: 150px;
    }
}

/* For browsers smaller than 1002px, fixes overlap */

@media screen and (max-width:1002px) {
    ul.nav.responsive {
        position: relative;
    }
    ul.nav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.nav.responsive li {
        float: none;
        display: inline;
    }
    ul.nav.responsive li a {
        display: block;
        text-align: left;
    }
}

/* mobile responsive sizing */

@media screen and (max-width:414px) {
    .container {
        width: 75%;
        height: 100%;
        padding: 150px;
    }
    .intro-text {
        font-size: 15px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    display: block;
}

.intro-text {
    color: white;
    font-size: 30px;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
}

#login_form {
    color: #fff;
    height: 50%;
    width: 50%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

#login_form .btn {
    color: black;
}

input {
    color: black;
}

#signup_form {
    color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

#sign_up_ul li {
    padding: 5px;
}

#index {
    color: #fff;
    height: 100%;
    width: 100%;
    text-align: center;
}

#contact_form {
    color: white;
    font-size: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

#storeSplash {
    color: white;
    font-size: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dashboard {
    color: black;
    margin-top: 20px;
    align-items: center;
    overflow: hidden;
}

#vinyl_pic {
    margin-left: auto;
    margin-right: auto;    
}

.col-md-4 {
    padding-top: 20px;
    /*border: 1px solid red;*/
}

.captions h4, h5 {
    text-align: center;
    font-size: 15px;
    overflow: hidden;
}

footer {
    text-align: center;
}
