html {
    width: 1336px;
    margin: auto;
}

body {
    padding-left: 15px;
}

h1 {
    color: red;
}

p {
    color: blue;
}


/*/Users/narin/Desktop/code/learncode/recordstore/recordstore/static/css/base.css*/