<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> {% load staticfiles %} {% load bootstrap3 %}
    <!-- Loads CSS or JS files in static directory -->
    <title>{% block head_title %} Record Directory {% endblock head_title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{%static 'css/bootstrap.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>


<!-- navbar -->
<nav class="navbar navbar-right">
    <div class="container-fluid">
        <ul class="nav navbar-nav" id="navigation">
            <li><a href="/home">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign-Up</a></li>
            <li><a href="/store">Store</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
</nav>
<!-- end navbar-->

<header>
    <div class="jumbotron text-center" id="heading">
    </div>
</header>

{% block content %}

<div class="col-md-12">
    <div class="containter intro-text">
        <h3> Welcome to the</h3>
        <h1>Record Directory</h1>
        <br />
        <p> Please <a href="/login">Login</a> or <a href="/signup">Sign-Up</a> for an account </p>
    </div>
</div>

{% endblock content %}

</html>