<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> {% load staticfiles %} {% load bootstrap3 %}
    <!-- Loads CSS or JS files in static directory -->
    <title>{% block head_title %} Record Directory {% endblock head_title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{%static 'css/bootstrap.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>


<!-- navbar -->
<nav class="navbar navbar-right">
    <div class="container-fluid">
        <div id="navigation">
            <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/login">Login/Sign-Up</a></li>
                <li><a href="/dashboard">Store</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- end navbar-->

{% block content %} {% endblock content %}

<header>
    <div class="jumbotron text-center" id="heading">
        <div class="containter intro-text">
            <h3> Welcome to the</h3>
            <br />
            <h1>Record Directory</h1>
        </div>
    </div>
</header>


</html>