{% extends "base.html" %} 
{% block title %}Accounts{% endblock %}
{% block header %}Accounts{% endblock %}

{% block store_splash %}
    <div id="storeSplash">
      <h2> The Freshest Vinyl is below! </h2>
    </div>
 {% endblock %}


{% block content %}
<div id="dashboard">
        {% for obj in data %}
            <div class="row>"
            {% for item in obj %}
            <div class="col-md-4">
                <div class="container well">
                    <img src="{{ item.image }}" class="img-responsive" id="vinyl_pic" alt="{{ obj.title }} Cover"/>
                    <h4> {{ item.artist }} - {{ item.title }}</h4>
                    <h5> ${{ item.price }} </h5>
                </div>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
</div>
{% endblock %}
