{% extends "base.html" %} {% block title %}Accounts{% endblock %} {% block header %}Accounts{% endblock %} {% block content %}

<div class='col-sm-6 col-sm-offset-3'>
    <form method="POST" action="/login/" enctype="multipart/form-data">{% csrf_token %} {{ form }} {% comment %}
        <h1>
            <label for="username">Username: </label><input type="text" name="username" id="username" />
            <br />
            <label for="password">Password: </label><input type="password" name="password" id="password" />
            <br />{% endcomment %}
            <input type="submit" class="btn btn-default" value="Sign-Up" />
            <input type="submit" class="btn btn-primary" value="Login" />
    </form>
</div>
{% endblock content %}