{% extends "nav_bar.html" %} {% block title %}Accounts{% endblock %} {% block header %}Accounts{% endblock %} {% block intro %}


<div class="container intro-text">
    <div class="col-md-12">

        <h3> Welcome to the</h3>
        <h1>Record Directory</h1>
        <br />
        <p>The one stop shop for every turntablist & portablist.<br /> We've got you covered with the freshest supply of scratch records (12in or 7in), <br /> breaks, slipmats, portable turntables, mod parts, speakers, <br /> cartradiges & stylus needles,
            cases, cables, clothing, and accesories.</p>
        <p> Please <a href="/login">Login</a> or <a href="/signup">Sign-Up</a> for an account </p>
    </div>
</div>

{% endblock intro %}