{% extends "nav_bar.html" %} {% block title %}Accounts{% endblock %} {% block header %}Accounts{% endblock %} {% block signup %}

<div id="signup_form">
    <div class='col-sm-6 col-sm-offset-3'>
        <form method="POST" action="/signup/" enctype="multipart/form-data" style="border-collapse: seperate; border-spacing: 10px 50px; color: gray;">
            <table cellpadding="10">{% csrf_token %} {{ form.as_table }}</table>
            <input type="submit" class="btn btn-default " name="signup" value="Sign-Up" style="color:black; border-spacing: 10px 50px" />
        </form>
    </div>
</div>
{% endblock signup %}